.footer__top
    flexx(column)
    flexalignx()
    flexgapx(75px)
    width 100%

.footer__logo
    text-align: center
    
    & .logo_img
        width 374px
        height: 121px
        aspect-ratio: 1/2

.footer__menu .nav_links
    flexx()
    flexgapx(15px)
    padding: 15px

    & li 
        height: inherit

    & a 
        height: 100%
        padding 15px

.footer__socials
    & a  
        padding 10px
        // border 1px solid red
        margin: 0 8px

.footer__btm
    flexx()
    flexalignx(space-between)
    padding 15px
    margin: 15px 0

.footer__btm__left
.footer__btm__right
    padding: 15px
    height: auto

    & a 
        padding 15px




