btnmx( bg = clrx(primary), clr = clrx(wht), pdt = pdtx(bm), pdl = pdlx(bs) )
    font-size: fsx(btn)
    font-weight: bold
    border-radius: radx(btn)
    border: none
    padding: pdt pdl
    background-color: bg 
    color: clr
    hover()

    &:hover
        background-color: clrx()
        color: clrx(primary)
        
