btn( bg = var(--clr_primary_hex), clr = var(--clr_wht_hex), pdt = $pd14, pdl = $pd24)
    font-size: var(--fs_menu)
    font-weight: bold
    border-radius: var(--rad_btn);
    border: none
    padding  pdt pdl
    background: bg
    color clr
    hover()

    &:hover
        background-color: var(--clr_wht_hex)
        color var(--clr_primary2_hex)
        
