paddingx(name = bs, t = top)
    varx( pd, name, t )

pdx(name = bs, t = top)
    paddingx(name, t)

pdtx(name)
    pdx(name, top)

pdlx(name)
    pdx(name, left)

// color_mixins 
// colormx(wht) =>  color:var(--color-wht_hex) => #ffffff
clrx(name, cat = clr )
    cat = cat == clr ? clr: clr_rgb
    varx(cat, name)

colorrgbmx( name = wht, n = 50%)
   color: @css{ unquote( "rgba(var(--color-"+ name +")", + n + " )" ) }

bgcmx( name = primary )
    background-color: unquote( "var(--color-" + name +"_hex)" )

bgcrgbmx( name = primary, n = 50% )
    background-color: @css{ unquote( "rgba(var(--color-"+ name +")", + n + " )" ) }

colorx( name = wht )
   return unquote( "var(--color-"+ name +"_hex)" )

colormx( name = wht )
   color: colorx( name )

color_rgbx( name = wht, n = 50%)
   return @css{ unquote( "rgba(var(--color-"+ name +")", + n + " )" ) }
//  color end 

font-sizex( name = p)
    return unquote( "var( --font-size-"+ name + " )" )

fsx( name = p)
    font-sizex(name) 

fsmx( name = p)
    font-size: font-sizex(name) 

font-sizemx( name = p)
    fsmx( name )

font-weightx( name = bold)
    return unquote( "var( --font-weight-"+ name +" )" )

fwx( name = bold)
    font-weightx( name )

font-weightmx( name = bolder)
    font-weight: font-weightx( name ) 

fwmx( name = bolder)
    font-weightmx(name) 
// font_end 

// width 
widthx(name) 
    return unquote( "var( --width-" + name + ")" )

widthmx(name) 
    width: widthx( name )

max-widthmx(name) 
    max-width: widthx( name )
// width_end

rad(name)
    varx(rad, name);