flexx(direct = row, fwrap = null)
    display: flex
    if fwrap == null
        flex-direction: direct

    else
        flex-flow: direct fwrap

flexalignx(jc = center, ac = center, ai = center )
    justify-content: jc
    align-content: ac
    align-items: ai

flexgapx(rg, cg = null)
    gap: rg cg