gridx(n = 2 )
    display: grid
    grid-template-columns: repeat(n, 1fr)

gridalignx(jc = center, ac = center, ai = center)
    justify-content: jc
    align-content: ac
    align-items: ai

gridalignprox(pi = center)
    place-items: pi

gridgapx(r, c = null)
    gap: r c