html 
  box-sizing: border-box;


*, *::before, *::after 
  box-sizing: inherit;


section
    border 1px solid $wht
    padding: varx(pd, s, top) varx(pd, s, left)

.container
    container()

.sec_dark
    background-color: colorx(drk)
    color: colorx(wht)

.sec_wht
    background-color: colorx(wht)
    color: colorx(drk)

header
    width 100%

h2 
    font-family: Arial, Helvetica, sans-serif
    font-sizemx(h2)
    font-weightmx(middle)
    padding: varx(pd, s) varx(pd, def)


h3
    font-sizemx(h3)
    font-weightmx(500)

p
    font-sizemx(p)
    // line-height: 

a
    text-decoration: none;
    color colorx(wht);

a:hover
    color colorx(wht);

img 
    min-width: 300px
    width: 100%
    max-width 652px
    min-height: 220px 
    height: @width
    max-height: 700px

.btn
    btn()

// font-size






    