$variable = {
    color: {
        wht: #ffffff, 
        drk:#000000, 
        primary: #39A9CE, 
        primary2: #07659F, 
        orang: #FF8718
    }
    size: { 
        padding: { 
            top: { 
                button_menu: 14, 
                button_section: 20, 
                button_flag: 8, 
                section: 25,
                def:2
                
            },
            left: { 
                button_menu: 22, 
                button_section: 24, 
                button_flag: 22, 
                section: 50, 

            }
        },
        font: {
            sizes: {  h1: 65,  h2: 34,  h3:22,  p:16,  btn: 18,  flag: 14 },
            weight: { min: 500, middle: 700, bolder:800, bold:900 },
        },
        width:{ globus: 502, container: 1500 },
        radius: { btn:8, globus: 50 }
    }
    duration: { min: .3,middle: .5, long: 1, max: 1.5 }
}

hextorgb(color)
    join( ", ", red(color) green(color) blue(color) )
  
$colors = $variable.color;
$size = $variable.size;
$size_padding = $size.padding;
$size_width = $size.width;
$size_radius = $size.radius;
$size_font = $size.font.sizes;
$font_weight = $size.font.weight;
$duration = $variable.duration;

:root
    $colors
    for name, value in $colors
        --color-{name}_hex:value
        --color-{name}: unquote( ( hextorgb(value) ) )

    $size_font
    for name, value in $size_font
        --font-size-{name}:(value / 16)em 

    $font_weight
    for name, value in $font_weight
        --font-weight-{name}: value

    $size_padding
    for main_name, cat  in $size_padding
        for name, value in cat
            --padding-{main_name}-{name}: (value)px
        
    $size_width
    for name, value in $size_width
        --width-{name}:(value)px

    $size_radius
    for name, value in $size_radius
        --radius-{name}:(value)%
    
    $duration
    for name, value in $duration
        --duration-{name}:(value)s


@import "variable-stylus.styl"


border-radiusmx( name1 = btn )   
    border-radius: unquote( "var(--radius-"+ name1 +")" )

.test
    border-radiusmx(btn)