colors = {
    wht: #ffffff,
    dark: #000000,
    primary: #39A9CE,
    primary2: #07659F,
    orang: #FF8718
}

// Размеры шрифтов указаны на "em".
font_size = {
    header: 4.06,
    header_2: 2.1875,    
    header_sub: 1.375,
    p: 1,
    menu:1,
    btn: 1.125, /*18*/
    flag: .875, /* размер миниатюрных кнопок с флагом флагов и  */
}

// размеры блоков на "px"  
sizes_blocks = {
    globus:502,
    container:1500
}

// padding  
pad = {
    pd2: 2,
    pd12: 12,
    pd14: 14,
    pd20: 20,
    pd22: 22,
    pd24: 24,
    pd25: 25,
    pd50: 50,
}

// durations 
durations = {
    min: .3
    middle: .5
    long: 1
    max: 1.5
}

hextorgb(color)
    join( ", ", red(color) green(color) blue(color) )
  
:root
    colors
    for name, value in colors
        --clr_{name}_hex:value
        --clr_{name}: unquote( ( hextorgb(value) ) )

    font_size
    for name, value in font_size
        --fs_{name}:(value)em

    pad
    for name, value in pad
        --pad_{name}:(value)px
        
    sizes_blocks
    for name, value in sizes_blocks
        --size_b_{name}:(value)px
    
    durations
    for name, value in durations
        --durations_{name}:(value)s
        
    --rad_btn: 8px
    --rad_btn2:50px
    


for name in colors
    define( "$" + name, unquote("var(--clr_" + name + ")") )

for name in pad
    define( "$" + name, unquote("var(--pad_" + name + ")") )


color_rgb( name = wht )
   color: unquote( "var(--clr_"+ name +"_hex)" )



.test
    padding(25, 12)
    color_rgb(wht)
    // font-size(header)
//     padding()
//     color(wht)
//     border-radius()