.sec_flag__block
    flexx(column)
    flexgapx(15px, 0)

.sec_flag__top
    flexx()
    flexalignx()
    
.sec_flag__left
    width 595px
    padding: varx(pd,bf)
    flex: 1

    & > img
        widthmx(globus)
        height: @width
        border 1px solid red
        border-radiusmx(globus)
        overflow: hidden

.sec_flag__right
    flex: 1

    & > h2
        colormx(primary)  
    & > p  
        line-height 45px
        font-sizemx(h3)

.sec_flag__btm
    flexx(row,wrap)
    flexalignx()
    flexgapx(pdx(bm))

.sec_flag__btns
    border 5px solid clrx(primary)
    flexx()
    flexalignx( )
    flexgapx( 2px )
    padding: pdx(bf) pdx(bf, 1)
    color clrx(wht)

    border-radiusmx()




    



