.sec_ourPower__block
    flexx(column)

.sec_ourPower__step
    flexx()
    border-radius: rad(pwr)
    border 2px solid clrx(wht)
    overflow: hidden

.window
    flexx(column)
    border 2px solid clrx(wht)
    padding: pdlx(s) pdlx(bs)


    &__title
    &__number
    &__subtitle
        padding: pdtx(s) pdtx(def)

    &__number
        font-size: fsx(pwr)
        font-weight: fwx(pwr)

    &__subtitle
    &__title
        line-height: 1.5
    
   