.sec_ourPower__block
    flexx(column)

.sec_ourPower__step
    flexx()
    border-radius: radx(pwr)
    border 1px dashed clrx(wht)
    overflow: hidden

.sec_ourPower__block .window
    flexx(column)
    border inherit
    padding: pdlx(s) pdlx(bs)

    &:nth-child(even)
        background-color: clrx(primary)

    &__title
    &__number
    &__subtitle
        padding: pdtx(s) pdtx(def)

    &__number
        font-size: fsx(pwr)
        font-weight: fwx(pwr)

    &__subtitle
    &__title
        line-height: 1.5
    
   